.home__header{
    display: flex;
    justify-content: space-between;
    
    .logo{
        display: block;
        @media only screen and (min-width: 1200px) {
            display: none;
        }
        &--desk{
            display: none;
            @media only screen and (min-width: 1200px) {
                display: block;
            }
        }
    }
}