.container-home{
    padding-top: 8px;
    padding-bottom: 8px;
}

.container-input-search{
    position: fixed;
    top: 45px;
    width: 100%;
    background: #F8F9FF;
    padding: 8px 24px;
}

.container-results{
    row-gap: 16px;
    &__title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1{
            font-family: "Lato", sans-serif;
            font-style: normal;
            font-weight: 900;
            font-size: 28px;
            line-height: 32px;
            color: #333;
            text-align: center;
        }
        .button-filter{
            cursor: pointer;
            width: 24px;
            height: 24px;
            img{
                width: 24px;
                height: auto;
            }
        }
    }
}